# -------------------------------------------------------------
# Customer Support Triage Environment - Setup
# -------------------------------------------------------------

# Your API Key (from Groq, HuggingFace, OpenAI, etc.)
HF_TOKEN=your_api_key_here

# The base URL if using an OpenAI compatible endpoint
API_BASE_URL=https://api.groq.com/openai/v1

# The exact LLM model identifier to use
MODEL_NAME=llama-3.3-70b-versatile

# Optional - if you use from_docker_image()
# LOCAL_IMAGE_NAME=your_image_name_here
